
mixin NavBar()
	if page.Show("navbar")
		div.navbar
			ul
				each node in kuz.s.jsons.navbar["navbar"]
					if node.class
						li
							a(href=node.url, class=node.class).navbar= node.title
					else
						li
							a(href=node.url).navbar= node.title

mixin PageImage()
	div.image
		img(src="x/dist/img/user.png")

mixin PageTitle()
	div.title
		h1= page.Title()

mixin PageGitHubSourceLink()
	div.source
		a(href=page.getPageSourceURL()) View Source

mixin PageCategory()
	if page.isPost() && page.Show("category")
		- let category = page.getCategory()
		if category
			div.category
				p Posted in #[a(href=category.getRelativeURL()).category= category.getTitle()]
		else
			// page.Category() is null

mixin PageTitle()
	div.title
		h1= page.getTitle()

mixin PageAuthor()
	if page.isPost() && page.Show("author")
		- let author = page.getAuthor()
		if author
			div.author
				p Written by #[a(href=author.getRelativeURL())= author.getTitle()]
		else
			// page.Author() is null

mixin PageDescription()
	if page.Show("description")
		div.description
			p= page.getDescription()

mixin PageTags()
	if page.isPost() && page.Show("tags")
		div.tags
			ul
				each tag in page.getTags()
					li
						a(href=tag.getRelativeURL()).tag
							span.text= tag.getTitle()


